<div class="container mt-5">
    <form >
        <div class="row mt-2 ml-10" style="width: 900px;">
        <label for="exampleInputEmail1">Name *</label>
        <div class="col-sm form-group">
            <input type="text" class="form-control">
            <small class="form-text text-muted">First Name</small>
        </div>
        <div class="col-sm">
            <input type="text" class="form-control">
            <small class="form-text text-muted">Last Name</small>
        </div>
        </div>
        
        <div class="col-sm form-group mt-3 mi-10" style="width: 900px;">
            <label for="exampleInputEmail1">Email *</label>
            <input type="text" class="form-control">
        </div>
    </form>
</div>