<div class="container mt-3">
    <p>Date and time you first noticed this bug</p>
    <form>
        <div class="row mt-2 ml-10" style="width: 300px;">
            <select class="form-select col-sm-4" multiple aria-label="Multiple select example" style="width: 70px; height: 40px;"></select>
            <small class="col-sm-1" style="width: 10px;"></small>
            <select class="form-select col-sm-2" multiple aria-label="Multiple select example" style="width: 70px; height: 40px;"></select>
            <small class="col-sm-1" style="width: 10px;"></small>
            <select class="form-select col-s-4" multiple aria-label="Multiple select example" style="width: 70px; height: 40px;"></select>
        </div>
        <div class="row mt-2 ml-10" style="width: 300px;">
            <select class="form-select col-sm-4" multiple aria-label="Multiple select example" style="width: 70px; height: 40px;"></select>
            <small class="col-sm-1" style="width: 10px;"></small>
            <select class="form-select col-sm-2" multiple aria-label="Multiple select example" style="width: 70px; height: 40px;"></select>
            <small class="col-sm-1" style="width: 10px;"></small>
            <select class="form-select col-s-4" multiple aria-label="Multiple select example" style="width: 70px; height: 40px;"></select>
        </div>

        <div class="col-sm form-group mt-3 mi-10" style="width: 900px;">
            <label for="exampleInputEmail1">Impact</label>
            <input type="text" class="form-control">
        </div>

        <div class="col-sm form-group mt-3 mi-10" style="width: 900px;">
            <label for="exampleInputEmail1">Detailed Explaination of bug *</label>
            <textarea type="text" class="form-control"></textarea>
        </div>
    </form>
</div>